- if notice || alert
  .alert.fixed.bottom-0.left-0.m-4.bg-base-100.text-accent.shadow-lg.rounded-box.z-50{:class => "w-6/12", :role => "alert"}
    = lucide_icon("message-circle-warning")
    %span
      = notice
      = alert
    %form{:method => "dialog"}
