%head
  %title Terms and Conditions
%body.font-sans
  .max-w-4xl.mx-auto.py-12.px-6.my-6.sm:px-8.lg:px-12.shadow-lg.rounded-lg
    %h1.text-4xl.font-bold.mb-8.text-center Terms
    .space-y-8
      .container.mx-auto.max-w-3xl.py-12
        %h2.text-xl.font-semibold.mt-8.mb-2 Information according to § 5 TMG
        %p Moqlabs UG (limited liability)
        %p Gneisenaustraße 16
        %p 24105 Kiel, Germany
        %p Geschäftsführer: Dennis Hansen

        %h2.text-xl.font-semibold.mt-8.mb-2 Contact
        %p
          Email: 
          %a.text-blue-600.hover:underline{ href: "mailto:info@flowmetr.de" } info@flowmetr.de

        %p.mt-4 FlowMetr is a brand of Moqlabs UG (limited liability)

        %h2.text-xl.font-semibold.mt-8.mb-2 Company Registration
        %p Court: Amtsgericht Kiel
        %p Registration No.: HRB 19777 KI

        %h2.text-xl.font-semibold.mt-8.mb-2 VAT ID
        %p DE319528578

        %h2.text-xl.font-semibold.mt-8.mb-2 Responsible according to § 55 Abs. 2 RStV
        %p Moqlabs UG (limited liability), Dennis Hansen, Gneisenaustraße 16, 24105 Kiel

        %h2.text-xl.font-semibold.mt-8.mb-2 EU Dispute Resolution
        %p The European Commission provides a platform for online dispute resolution (ODR):
        %a.text-blue-600.hover:underline{ href: "http://ec.europa.eu/consumers/odr", target: "_blank" } http://ec.europa.eu/consumers/odr

        %h2.text-xl.font-semibold.mt-8.mb-2 Disclaimer

        %h3.text-lg.font-semibold.mt-4 Liability for Content
        %p We are responsible for our own content in accordance with § 7 Abs.1 TMG. However, we are not obliged to monitor transmitted or stored third-party information as per §§ 8 to 10 TMG. If we become aware of legal violations, we will remove such content immediately.

        %h3.text-lg.font-semibold.mt-4 Liability for Links
        %p Our site may contain links to external websites. We have no control over those contents and thus assume no liability. If we become aware of any violations, such links will be removed immediately.

        %h3.text-lg.font-semibold.mt-4 Copyright
        %p The content on this site is protected under German copyright law. Reproduction and distribution require prior written permission unless stated otherwise. Third-party content is marked accordingly. Please notify us if you believe your rights have been infringed.
