.mx-auto.w-full{:class => "md:w-2/3"}
  %h1.font-bold.text-4xl Editing measurement point
  = render "form", measurement_point: @measurement_point
  = link_to "Show this measurement point", @measurement_point, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
  = link_to "Back to measurement points", measurement_points_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
